<div class="page-header">
  <h3><%= fa_icon 'user-circle-o' %> Persona <small>Editar</small></h3>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 style="color: white;">Editar persona <%= fa_icon 'pencil-square-o', class:"icon-fixed-width"%></h4>
  </div>
    <li class="divider"></li>
  <%= render 'form' %>
</div>
